p {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  margin: 0;
  color: white;
}

.result-card {
  display: flex;
  height: 350px;
  width: 500px;
  background-color: white;
  justify-self: center;
  align-self: center;
  margin-top: 100px;
  border-radius: 25px;
  box-shadow: 5px 5px 40px #333;
}
.result-section {
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: center;
  justify-content: start;
  height: 350px;
  width: 250px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 25px;
}
.rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 130px;
  width: 50%;
  border-radius: 65px;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}
#summary {
  color: hsl(0, 0%, 100%);
  padding: 10px 0 10px 0;
}

#rate-num {
  display: flex;
  padding: auto;
  color: hsl(0, 0%, 100%);
  font-size: 50px;
}
#of-num {
  margin-top: -20px;
  color: #c2c2c2;
  font-size: 12px;
}
#desc {
  display: flex;
  padding: 15px;
  align-items: center;
  color: #c2c2c2;
  font-size: 14px;
  text-align: center;
}
.summary-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;

  width: 80%;

  border-radius: 10px;
  margin-bottom: 10px;
}
#reaction {
  background-color: hsl(0, 83%, 79%);
}
#memory {
  background-color: hsl(39, 94%, 80%);
}
#verbal {
  background-color: hsl(166, 88%, 77%);
}
#visual {
  background-color: hsl(234, 73%, 68%);
}
#continue-btn {
  height: 35px;
  width: 80%;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  background-color: hsl(224, 30%, 27%);
  color: white;
}
#continue-btn:hover {
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsl(241, 81%, 54%));
}
