
.header{
    font-family: "Karla", sans-serif;
    width: 100%;
    font-size: .9rem;
    display: flex;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    align-items: center;
}
.header img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
}   